<%- include('layoutTop', { user }) -%>
<main class="container">
  <div class="list-group">
  <% tournaments.forEach(tournament => { %>
    <a 
      class="list-group-item"
      href="/tournaments/<%= tournament.id %>">
        <%= tournament.name %>
      </a>
  <% }); %>
  </div>

  <nav aria-label="Tournaments pages" class="mt-2">
    <ul class="pagination">
      <%- include('pageItem', { page: pages.previous, linkText: 'Previous' }) %>
      <% pages.pages.forEach(page => { %>
        <%- include('pageItem', { page, linkText: page.number }) %>
      <% }); %>
      <%- include('pageItem', { page: pages.next, linkText: 'Next' }) %>
    </ul>
  </nav>

</main>
<%- include('layoutBottom') -%>
