<%- include('layoutTop') -%>
<main class="container">
  <h1>Hello to Tournament System</h1>
  <ul class="list-group">
  <% tournaments.forEach(tournament => { %>
    <li class="list-group-item"><%= tournament.name %></li>
  <% }); %>
  </ul>

  <nav aria-label="Tournaments pages">
    <ul class="pagination">
      <%- include('pageItem', { page: pages.previous, linkText: 'Previous' }) %>
      <% pages.pages.forEach(page => { %>
        <%- include('pageItem', { page, linkText: page.number }) %>
      <% }); %>
      <%- include('pageItem', { page: pages.next, linkText: 'Next' }) %>
    </ul>
  </nav>

</main>
<%- include('layoutBottom') -%>
