<%- include('layoutTop', { user }) -%>
<main class="container">
  <dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9"><%= tournament.name %></dd>

    <dt class="col-sm-3">Organizer</dt>
    <dd class="col-sm-9"><%= tournament.organizer ? tournament.organizer.name : '' %></dd>

    <dt class="col-sm-3">Location</dt>
    <dd class="col-sm-9"><%= tournament.location %></dd>

    <dt class="col-sm-3">Current participants</dt>
    <dd class="col-sm-9"><%= tournament.participants.length %></dd>

    <dt class="col-sm-3">Max participants</dt>
    <dd class="col-sm-9"><%= tournament.maxParticipants %></dd>

    <dt class="col-sm-3">Start date</dt>
    <dd class="col-sm-9"><%= tournament.startDate ? tournament.startDate.toLocaleDateString() : '' %></dd>

    <dt class="col-sm-3">Registration deadline</dt>
    <dd class="col-sm-9"><%= tournament.registrationDeadline ? tournament.registrationDeadline.toLocaleDateString() : '' %></dd>
  </dl>
  <a href="register" class="btn btn-primary">Register</a>
  <% if (editAllowed) { %>
    <a href="edit" class="btn btn-primary">Edit</a>
  <% } %>
</main>
<%- include('layoutBottom') -%>